---
layout: default 
title: Home
description:
image:
permalink: /
---

{% include sections/hero.html 
	src="/uploads/hero-2-16x9.jpg" 
	data_src="/uploads/hero-2.jpg"
	title="Roy van Neden"
	paragraph="Met plezier besteed ik het meeste van mijn tijd aan het ontwerpen, realiseren en verbeteren van digitale producten."
	button_label="Meer over mij"
	button_url="/over"
	%}
{% include sections/what-i-do.html %}

<section class="section dark-mode pb-5">
	<div class="grid pt-5">
			<div class="row pt-5 align-items-center">
					<div class="col-lg-6">
						<h2 class="headline-title">Blog</h2>
						<p class="headline-paragraph">Ik ben altijd bezig met het op de hoogte blijven van ontwikkelingen. Zo nu en dan schrijf ik hier ook een stukje over.</p>
					</div>
					<div class="col-lg-6 text-lg-right">
						<a href="/blog" class="btn btn--light">Alle artikelen</a>
					</div>
			</div>
	</div>    
	<div class="latest-posts">
		{% for post in site.posts limit:16 %}
			<article class="latest-post">
				<a href="{{ post.url }}" class="latest-post__permalink">
					<p class="latest-post__date">
						{{ post.date | date: "%-d %m %Y" | downcase }}
					</p>
					<h3 class="latest-post__title">
						{{ post.title }}
					</h3>
					<div class="latest-post__tags">
						{% for tag in post.tags %}
							<span>
								{{ tag }}
							</span>
						{% endfor %}
					</div>
				</a>
			</article>
		{% endfor %}
	</div>
</section>
{%- comment -%}
<!-- {% include sections/banner.html 
	src="/uploads/vissershaven-16x8.jpg"
	data_src="/uploads/vissershaven.jpg"
	title="Vragen of meer weten?" 
	subtitle="Laat iets van je horen!" 
	button_label="Contact opnemen"
	button_url="/contact" 
	%} -->
{%- endcomment -%}