<section class="section">
  <div class="banner">
    {% if include.src and include.data_src %}
      <img src="{{ include.src }}" data-src="{{ include.data_src }}" alt="{{ include.alt }}" class="img-fluid lazyload">
    {% endif %}
    {% if include.title or include.subtitle or include.button_url or include.button_label %}
      <div class="grid">
        <div class="row">
          <div class="col-lg-8">
            <div class="cta__tile">
              {% if include.title %}
                <h2 class="title">
                  {{ include.title }}
                </h2>
              {% endif %}
              {% if include.subtitle %}
                <h3 class="subtitle">
                  {{ include.subtitle }}
                </h3>
              {% endif %}
              {% if include.button_url and include.button_label %}
                <a href="{{ include.button_url }}" class="btn btn--light">
                  {{ include.button_label }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</section>