<section class="section">
  <div class="grid">
    <div class="row">
      <div class="col-lg-6 ml-auto mr-auto text-center">
        <h2 class="headline-title">Een selectie van projecten</h2>
        <span class="btn btn--blue btn--disabled">
          Binnenkort online
        </span>
      </div>
    </div>
  </div>
  <div class="floating-projects">
    <div class="row custom-row">
      <div>
        <img src="/uploads/project-1.jpg" data-src="/uploads/project-1.jpg" alt="Project screenshot 1" class="img-fluid w-100 lazyload">
      </div>
      <div>
        <img src="/uploads/project-2.jpg" data-src="/uploads/project-2.jpg" alt="Project screenshot 2" class="img-fluid w-100 lazyload">
      </div>
      <div>
        <img src="/uploads/project-3.jpg" data-src="/uploads/project-3.jpg" alt="Project screenshot 3" class="img-fluid w-100 lazyload">
      </div>
      <div>
        <img src="/uploads/project-4.jpg" data-src="/uploads/project-4.jpg" alt="Project screenshot 4" class="img-fluid w-100 lazyload">
      </div>
      <div>
        <img src="/uploads/project-1.jpg" data-src="/uploads/project-1.jpg" alt="Project screenshot 5" class="img-fluid w-100 lazyload">
      </div>
    </div>
  </div>
</section>
