<section class="hero hero--dark-mode">
	{% if include.src and include.data_src %}
		<img src="{{ include.src }}" data-src="{{ include.data_src }}" alt="{{ site.title }}" class="hero__image lazyload">
	{% endif %}
	<div class="grid">
		<div class="row">
			<div class="hero__content">
				<h1 class="hero__title">
					{{ include.title }} <span class="t-48">&mdash;</span>
					<span class="d-block">
						<span class="type"></span> designer
					</span>
				</h1>
				<p class="hero__paragraph">{{ include.paragraph }}</p>
				<a href="{{ include.button_url }}" class="btn btn--blue">
					{{ include.button_label }}
				</a>
			</div>
		</div>
	</div>
	<button type="button" class="mouse">
		<span>
			Please scroll
		</span>
	</button>
</section>