<head>
	{% comment %}
	<!-- Google Tag Manager -->
	{% endcomment %}
	{% comment %}
	<!-- End Google Tag Manager -->
	{% endcomment %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% seo %}
	<link href="https://fonts.googleapis.com/css?family=Asap:400,600|Poppins:700" rel="stylesheet">
	<link href="{{ '/assets/css/style.min.css' | relative_url }}" rel="stylesheet">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>