{% for teaser in site.posts %}
    <article>
        <a href="{{ teaser.url }}" class="teaser">
            <div class="teaser-tags">
                {% for tag in teaser.tags %}
                    {{ tag }}
                {% endfor %}            
            </div>
            <div class="holder w4xh2">
                <img src="{{ teaser.thumbnail }}" alt="{{ teaser.title }}" class="img-fluid">
            </div>
            <div class="teaser-body">
                <span class="teaser-date">
                    {{ teaser.date | date: '%m %d %Y' }}
                </span>
                <h3 class="tease-title">{{ teaser.title }}</h3>
                <p class="teaser-excerpt">{{ teaser.excerpt }}</p>
            </div>
        </a>
    </article>
{% endfor %}
