.btn {
	position: relative;
	background-color: transparent;
	border: 1px solid transparent;
	display: inline-flex;
	font-size: 0.875rem;
	line-height: 1.5rem;
	padding: 0.6875rem 1.5rem;
	margin: 0;
	font-family: $headings-font-family;
	font-weight: 600;
	border-radius: 0.25rem;
	transition: all .16s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	overflow: hidden;
	&:hover, 
	&:focus, 
	&:active {
		text-decoration: none;
	}
	&:hover, 
	&:focus {
		color: $black;
	}
	&:active {
	}
	&.btn--block {
		display: block;
		text-align: center;
	}
	&.btn--light {
		background-color: $white;
		border-color: $white;
		color: $primary;
		&:hover {
			color: darken($primary, 16%);
		}
	}
	&.btn--sm {
		padding: rem(5) rem(8);
		font-size: rem(12);
		line-height: rem(20);
	}
	&.btn--primary {
		background-color: $primary;
		border-color: $primary;
		color: $white;
		&:hover {
			background-color: darken($primary, 16%);
			border-color: darken($primary, 16%);
			color: $white;
		}
	}
	&.btn--effect {
		&:hover {
			&:before {
				transform: translateX(0%);
			}
		}
	}
	&.btn--outline-primary {
		border-color: $blue;
		color: $blue;
		&:hover, 
		&:focus {
			background-color: $blue;
			color: $white;
		}
	}
	&.btn--disabled {
		cursor: not-allowed;
		opacity: 0.48;
	}
}