.button {
	position: relative;
	background-color: transparent;
	color: inherit;
	border: 1px solid transparent;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-family: $headings-font-family;
	font-size: rem(14);
	line-height: rem(24);
	font-weight: 600;
	padding: rem(7) rem(16);
	margin: 0;
	border-radius: rem(4);
	transition: all .32s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	overflow: hidden;
	&:hover, 
	&:focus, 
	&:active {
		text-decoration: none;
	}
	&:hover, 
	&:focus {
		color: $black;
	}
	&.button--block {
		display: block;
		text-align: center;
	}
	&.button--light {
		background-color: $white;
		border-color: $white;
		color: $primary;
		&:hover {
			color: darken($primary, 16%);
		}
	}
	&.button--sm {
		padding: rem(5) rem(8);
		font-size: rem(12);
		line-height: rem(20);
	}
	&.button--md {
		font-size: rem(14);
		line-height: rem(24);
		padding: rem(7) rem(16);
	}
	&.button--lg {
		padding: rem(11) rem(24);
		font-size: rem(14);
		line-height: rem(24);
	}
	&.button--primary {
		background-color: $primary;
		border-color: $primary;
		color: $white;
		&:hover {
			background-color: darken($primary, 16%);
			border-color: darken($primary, 16%);
			color: $black;
		}
	}
	&.button--secondary {
		background-color: $secondary;
		border-color: $secondary;
		color: $white;
		&:hover {
			background-color: darken($secondary, 16%);
			border-color: darken($secondary, 16%);
			color: $white;
		}
	}
	// &.button--effect {
		&:hover {
			&:before {
				transform: translateX(0%);
			}
		}
	// }
	&.button--outline-primary {
		border-color: $blue;
		color: $blue;
		&:hover, 
		&:focus {
			background-color: $blue;
			color: $white;
		}
	}
	&.button--disabled {
		cursor: not-allowed;
		opacity: 0.48;
	}
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -(rem(16));
  .button {
    margin-right: rem(16);
    margin-bottom: rem(16);
  }
}