.footer {
	position: relative;
	background-color: $black;
	color: $white;
	padding-top: 3rem;
	@include media-breakpoint-up(md) {
		padding-top: 6rem;
	}
	padding-bottom: 3rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	.widget {
		margin-bottom: 3rem;
	}
	.license {
		font-size: rem(12);
		line-height: rem(20);
		margin: 0;
	}
}