.footer {
	position: relative;
	background-color: lighten($black, 8%);
	color: $white;
	font-size: rem(14);
	line-height: rem(20);
	border-top: 1px solid rgba($white, 0.08);
	.footer__widgets {
		padding-top: rem(48);
		@include media-breakpoint-up(lg) {
			padding-top: rem(96);
			padding-bottom: rem(48);
		}
	}
	.widget {
		margin-bottom: rem(48);
	}
	.footer__license {
		font-size: rem(14);
		line-height: rem(24);
		text-align: center;
		padding-top: rem(48);
		padding-bottom: rem(48);
		border-top: 1px solid rgba($white, 0.08);
		p {
			margin: 0;
		}
	}
}