.page-width {	
	max-width: rem(1200);
	margin: 0 auto;
}

.page-spacer {
	padding: 0 rem(24);
	@include media-breakpoint-up(lg) {
		padding: 0 $grid-spacer;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	@include media-breakpoint-up(lg) {
		grid-column-gap: rem(32);
	}
	.grid__item {
		width: 100%;
	}
}

@each $name, $width in $grid-breakpoints {
	@include media-breakpoint-up(#{$name}) {
		@for $i from 1 through 13 {
			.gcs-#{$name}-#{$i} {
				grid-column-start: #{$i};
			}
			.gce-#{$name}-#{$i} {
				grid-column-end: #{$i};
			}
		}
	}
}