.header {
	position: relative;
	transition: all .24s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	background-color: transparent;
	color: $white;
	width: 100%;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 0;
		background-color: $white;
		transition: all .24s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	}
	&--absolute {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: ($zindex-fixed)+2;
	}
	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: ($zindex-fixed)+2;
	}
	&--highlighted {
		color: $black;
		&:before {
			bottom: 0;
			height: 100%;
			box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
		}
	}
	.header__bar {
		padding: rem(12) 0;
		.page-width {
			display: flex;
			justify-content: space-between;
		}
	}
	.header__mask {
		cursor: pointer;
		position: fixed;
		z-index: $zindex-fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.48);
		opacity: 0;
		visibility: hidden;
		transition: all .4s ease;
		backdrop-filter: blur(1px);
	}
	&.navigation--open {
		.header__mask {
			visibility: visible;
			opacity: 0.8;
		}
	}
	.page--home & {
		color: $white;
		#hamburger span span {
			background-color: $white;
		}
		#magnifying-glass {
			svg {
				fill: $white;
			}
		}
	}
}

.brand {
	display: block;
	color: inherit;
}

.brand-title {
	display: block;
	position: relative;
	z-index: 1033;
	font-family: $headings-font-family;
	font-weight: 600;
	font-size: rem(18);
	line-height: rem(48);
	color: inherit;
	margin: 0;
	white-space: nowrap;
	color: inherit;
	&:hover, 
	&:focus, 
	&:active {
		text-decoration: none;
		color: $blue;
	}
}

.description {
	display: block;
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
	margin: 0;
	a {
		color: inherit;
		&:hover, 
		&:focus, 
		&:active {
			text-decoration: none;
		}
	}
}