.header {
	position: fixed;
	// position: sticky;
	// top: rem(48);
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	color: $black;
	.bar {
		padding: rem(8) 0;
		@include media-breakpoint-up(md) {
			padding: rem(16) 0;
		}
		transition: all .32s cubic-bezier(0.55, 0.085, 0.68, 0.53);
		background-color: $paper;
	}
	&:hover, 
	&:focus, 
	&:active {
		background-color: $yellow;
	}
	&.header--highlighted {
		background-color: $yellow;
	}
	.bar__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.bar__content__item {
			&:first-child {
				width: 20%;
			}
			&:nth-child(2) {
				width: 60%;
			}
			&:nth-child(3) {
				width: 20%;
			}
		}
	}
	.header__mask {
		cursor: pointer;
		position: fixed;
		z-index: ($zindex-fixed) - 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.48);
		opacity: 0;
		visibility: hidden;
		transition: all .4s ease;
		backdrop-filter: blur(1px);
		@include media-breakpoint-up(md) {
			display: none;
		}
	}
	&.navigation--open {
		left: 0;
		.header__mask {
			visibility: visible;
			opacity: 0.8;
		}
	}
}

.me {
	display: block;
	color: inherit;
	width: rem(48);
	height: rem(48);
	background-color: $black;
	border-radius: rem(48);
}

.header__social-item {
	margin-right: rem(16);
	&:last-child {
		margin-right: rem(0);
	}
}

.header__social-link {
	display: block;
	opacity: 0.48;
	padding: rem(16) rem(0);
	svg {
		display: block;
		fill: $white;
		width: rem(16);
		height: rem(16);
	}
	&:hover, &:focus, &:active {
		opacity: 1;
	}
}