.headline-label	{
	font-size: 0.875rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: $headings-font-family;
	opacity: 0.48;
}

.headline-subtitle {
	font-size: 0.75rem;
	line-height: 1.25rem;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	opacity: 0.64;
}

.headline-title {
	font-size: rem(32);
	line-height: rem(40);
	@include media-breakpoint-up(lg) {
		font-size: rem(40);
		line-height: rem(48);
	}
	margin-bottom: 1.5rem;
}

.headline-paragraph {
  font-size: rem(20);
  line-height: rem(28);  
  margin-bottom: rem(32);
}