.navigation {
	display: none;
	@include media-breakpoint-up(md) {
		display: flex;
	}
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	color: inherit;
	margin-left: auto;
	.nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap; 
		font-size: rem(16);
		line-height: rem(24);
		font-weight: 400;
	}	
	.nav-item {
		flex: 1 0 auto;
		text-align: center;
		margin-right: rem(24);
		&:last-child {
			margin-right: 0;
		}
	}
	.nav-link {
		display: block;
		position: relative;
		color: inherit;
		font-family: $headings-font-family;
		opacity: 0.72;
		padding: rem(8) rem(16);
		@include media-breakpoint-up(md) {
			padding: rem(12) rem(0);
			border-radius: 2px;
		}
		&:hover, 
		&:focus, 
		&:active {
			text-decoration: none;
			color: inherit;
		}
		&:hover, 
		&:focus,
		&:active {
			opacity: 1;
		}
		&--active {
			opacity: 1;
			font-weight: 600;
		}
	}
}