.navigation {
	transform: translateY(-100%);
	z-index: ($zindex-fixed)+1;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: auto;
	background-color: $white;
	color: $black;
	padding-top: rem(96);
	padding-bottom: rem(48);
	max-height: 100vh;
	overflow: auto;
	transition: all .24s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	.nav-group {
		margin-bottom: rem(48);
	}
	.nav-group-title {
		display: block;
		font-size: rem(16);
		line-height: rem(24);
		margin-bottom: 1rem;
		opacity: 0.48;
	}
	.nav {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 400;
		li {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.nav.social {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 500;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		li {
			@include make-col(6);			
		}
	}
	.nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}	
	.nav-item {
		margin-bottom: 1rem;
		overflow: hidden;
		transform: translateY(100%);
		visibility: hidden;
		opacity: 0;
		@for $i from 0 through 10 {
			&:nth-child(#{$i + 1}) {
				transition-delay: 0.08s * $i;
			}
		}
	}
	.nav-link {
		position: relative;
		display: block;
		color: inherit;
		font-family: $headings-font-family;
		font-weight: 400;
		&:hover, 
		&:focus, 
		&:active {
			text-decoration: none;
		}
		&:hover, 
		&:focus {
			color: $blue;
		}
		&:active {
			color: darken($blue, 8%);
		}
		&--active {
			font-weight: 700;
		}
	}
}

.hamburger {
	cursor: pointer;
	position: relative;
	background-color: transparent;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	border: none;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	transition: transform .24s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	display: flex;
	margin-left: auto;
	z-index: ($zindex-fixed)+3;
	&:hover, 
	&:active, 
	&:focus {
		outline: none;
	}
	> span {
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -0.75rem;
		margin-top: -0.75rem;
		span {
			display: block;
			width: 1.5rem;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-color: $white;
			.header--highlighted & {
				background-color: $black;
			}
			transition: all .24s cubic-bezier(0.55, 0.085, 0.68, 0.53);
			transition-property: transform, width, height, top, left, margin-top;
			&:first-child {
				margin-top: -6px;
			}
			&:last-child {
				margin-top: 6px;
			}
		}
	}
	&.hamburger--open {
		transform: rotate(135deg);
		span span {
			background-color: $black;
			&:first-child {
				margin-top: 0;
				width: 0;
			}
			&:last-child {
				margin-top: 0;
				transform: translateX(-50%) translateY(-50%) rotate(90deg);
			}
		}
	}
}

.navigation.navigation--open {
	transform: translateY(0%);
	.nav-item {
		visibility: visible;
		opacity: 1;
		transition-property: all;
		transform: translateY(0);
		transition-duration: 0.48s;
		transition-timing-function: ease;
	}
}