.notice {
  display: block;
  color: inherit;
  padding: rem(8) rem(16);
  background-color: $primary;
  text-decoration: none;
  font-size: rem(14);
  line-height: rem(24);
  font-weight: bold;
  &:hover,
  &:focus, 
  &:active {
    text-decoration: none;
    color: inherit;
  }
  &:hover, 
  &:focus {
    background-color: darken($primary, 4%);
  }
  &:active {
    background-color: darken($primary, 6%);
  }
  &.notice--active {
    display: none;
  }
  .notice__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .notice__text {
    display: block;
    margin-right: rem(16);
  }
}