.notice {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-size: rem(14);
  line-height: rem(24);
  text-align: center;
  .notice__item {
    display: block;
    color: inherit;
		padding: rem(12) 0;
    text-decoration: none;
    background-color: $blue;
    color: white;
    &:hover,
    &:focus, 
    &:active {
      text-decoration: none;
    }
    &:hover, 
    &:focus {
      background-color: darken($blue, 8%);
      
    }
    &:active {
      background-color: darken($blue, 16%);
    }
    .notice__text {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}