// .main {
// 	padding-top: rem(72);
// }

.page-header {
	margin: 1.5rem 0 3rem 0;
	@include media-breakpoint-up(md) {
		margin: 4.5rem 0 6rem 0;
	}
	.page-header__title {
		padding-left: rem(48);
		font-size: rem(12);
		line-height: rem(20);
		text-transform: uppercase;
		letter-spacing: rem(2);
		position: relative;
		margin: 0;
		&:before {
			content: '';
			display: block;
			width: 1.5rem;
			height: 2px;
			background-color: $black;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -1px;
		}
	}
	
	.page-header__subtitle {
		margin-top: 1.5rem;
		margin-bottom: 0;
		font-size: 1.75rem;
		line-height: 2.25rem;
		@include media-breakpoint-up(md) {
			padding-left: rem(48);
			font-size: 2rem;
			line-height: 2.5rem;
		}
	}
}


.page-content {
	margin: 3rem 0;
	@include media-breakpoint-up(md) {
		margin: 6rem 0;
	}
	&.content {
		> p, > ul, > h1, > h2, > h3, > h4, > h5, > h6, > blockquote, > .widget {
      @include grid;
      max-width: 40rem;
		}		
	}
}