.project {
	.project__subtitle {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.project__title {
		font-size: 2rem;
		line-height: 2.5rem;
		@include media-breakpoint-up(lg) {
			font-size: 3rem;
			line-height: 3.5rem;
		}
		margin-bottom: 1.5rem;
	}
	.project__introduction {
		font-family: $headings-font-family;
		@include media-breakpoint-up(lg) {
			font-size: 1.25rem;
			line-height: 2rem;
		}
		margin-bottom: 0;
	}
	.project__image {
		margin-top: -4rem;
		@include media-breakpoint-up(lg) {
			margin-top: -8rem;
		}
		img {
			max-width: 100%;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.project-header {
		background-color: slategray;
		display: block;   
		padding-top: 7.5rem;
		padding-bottom: 7rem;
		@include media-breakpoint-up(lg) {
			padding-top: 12rem;
			padding-bottom: 14rem;
		}
	}
	.project-content {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}