// Import font Poppins used for the headings
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,600&display=swap');

// Makes browsers render all elements more consistently and in line with modern standards
@import 'normalize.css/normalize';

// Import bootstrap mixins
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Self made mixins
@import "mixins/mixins";

// Self made settings
@import 'settings';

//
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	font-family: $default-font-family;
	font-size: $default-font-size;
	line-height: 1.5;
	text-align: left;
  background-color: $white;
  color: $black;
}

ul, ol, p {
	margin-top: 0;
}

a {
	color: $blue;
	text-decoration: none;
	&:hover, 
	&:focus {
		color: darken($blue, 8%);
	}
}

@import "accessibility";
@import "headings";

@import "buttons";
@import "grid";

// Components
@import "notice";
@import "header";
@import "navigation";
@import "search";
@import "footer";

@import "post";
@import "featured-post";
@import "page";
@import "content";
@import "holder";

// includes
@import 'includes/banner';
@import 'includes/hero';
@import 'includes/what-i-do';

@import 'latest-posts';
@import 'widgets';
@import 'headline';

// Builder
@import 'floating-images';
@import 'helpers';