// Import font Poppins used for the headings
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

// Makes browsers render all elements more consistently and in line with modern standards
@import 'normalize.css/normalize';

// Import bootstrap functions and mixins
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Self made mixins
@import "mixins/mixins";

// Self made settings
@import 'settings';

//
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	font-family: $default-font-family;
	font-size: $default-font-size;
	line-height: 1.5;
	text-align: left;
  background-color: $black;
  color: $white;
}

ul, 
ol, 
p {
	margin-top: 0;
	margin-bottom: rem(16);
}

a {
	color: $primary;
	text-decoration: none;
	&:hover, 
	&:focus {
		color: darken($primary, 8%);
	}
}

@import "accessibility";
@import "headings";

@import "buttons";
@import "form";
@import "grid";

@import "notice";
@import "header";
@import "hamburger";
@import "navigation";
@import "search";
@import "footer";

@import "post";
@import "featured-post";
@import "page";
@import "markdown";
@import "holder";

@import 'includes/banner';
@import 'includes/hero';
@import 'includes/what-i-do';

@import 'latest-posts';
@import 'donation';
@import 'widgets';
@import 'headline';

// Builder
@import 'helpers';