@use "../styles/mixins";
@use "../styles/settings";

.wrapper {
	position: relative;
	background-color: settings.$black;
	color: settings.$white;
	font-size: mixins.rem(16);
	line-height: mixins.rem(24);
}

.content {
	padding: mixins.rem(48) 0;
}

.row {
	align-items: center;
}

.paragraph {
	color: settings.$frozen;
	max-width: 80%;
}

.bitcoin {
	position: relative;
	cursor: pointer;
	&:hover, 
	&:focus, 
	&:active {
		input {
			border: 2px dashed rgba(255, 255, 255, 1);		
		}
	}
	input {
		display: block;
		width: 100%;
		padding: mixins.rem(6) mixins.rem(56) mixins.rem(6) mixins.rem(16);
		line-height: mixins.rem(24);
		font-size: mixins.rem(12);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		border: 2px dashed rgba(255, 255, 255, 0.48);
		background-color: transparent;
		border-radius: 2px;
		color: settings.$paper;
		&:hover, 
		&:focus, 
		&:active {
			background-color: transparent;
			outline: none;
		}
	}
	button {
		display: block;
		appearance: none;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		padding: mixins.rem(11);
		&:hover, 
		&:focus, 
		&:active {
			outline: none;
			background-color: transparent;
		}
		svg {
			display: block;
			fill: settings.$paper;
			width: mixins.rem(18);
			height: mixins.rem(18);
		}
	}
}

.buttons {
	margin-top: mixins.rem(24);
}

.info {
	font-size: mixins.rem(14);
	line-height: mixins.rem(24);
	padding-top: mixins.rem(48);
	color: settings.$frozen;
	p:last-child {
		margin: 0;
	}
}

.panel {
	padding-bottom: mixins.rem(24);
	@include mixins.media-breakpoint-up(settings.$breakpoint-md) {
		padding-bottom: mixins.rem(48);
	}
	&:last-child {
		padding-bottom: mixins.rem(48);
	}
}