@use "../styles/mixins";
@use "../styles/settings";

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: blur(16px);
  color: settings.$white;
  padding: mixins.rem(8) 0;
  .container {
    width: 100%;
    max-width: mixins.rem(1280);
    margin-left: auto;
    margin-right: auto;
  }
  .title {
    font-weight: 600;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      font-size: mixins.rem(14);
      line-height: mixins.rem(20);
      margin-right: mixins.rem(24);
      &:last-child {
        margin-right: 0;
      }
      a {
        display: block;
        padding: mixins.rem(14) mixins.rem(0);
        color: inherit;
      }
    }
  }
}