<head>
	{% comment %}
	<!-- Google Tag Manager -->
	{% endcomment %}
	{% comment %}
	<!-- End Google Tag Manager -->
	{% endcomment %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% seo %}
	<meta name="theme-color" content="#56B4D3">
	<link rel="icon" href="/uploads/cropped-royvn-32x32.jpg" sizes="32x32">
	<link rel="icon" href="/uploads/cropped-royvn-192x192.jpg" sizes="192x192">
	<link rel="apple-touch-icon-precomposed" href="/uploads/cropped-royvn-180x180.jpg">
	<meta name="msapplication-TileImage" content="/uploads/cropped-royvn-270x270.jpg">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Poppins:400,600,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/stylesheets/style.css">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}">
</head>