<nav class="site-navigation">

	<div class="grid">

		<div class="widget">
			<span class="widget-title">
				Menu
			</span>
			<ul class="nav menu">
				{% for item in site.data.navigation %}
					<li class="nav-item">
						<a href="{{ item.permalink }}" class="nav-permalink{% if page.url contains item.permalink and item.permalink != '/' or page.url == '/' %} nav-permalink--active{% endif %}">
							<span>
								{{ item.title }}
							</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="widget">
			<span class="widget-title">
				Social
			</span>
			<ul class="nav social">
				{% if site.authors.royvn.github %}
					<li class="nav-item">
						<a href="{{ site.authors.royvn.github }}" target="_blank" rel="noopener" class="nav-permalink">
							<span>
								Github
							</span>
						</a>
					</li>
				{% endif %}
				{% if site.authors.royvn.instagram %}
					<li class="nav-item">
						<a href="{{ site.authors.royvn.instagram }}" target="_blank" rel="noopener" class="nav-permalink">
							<span>
								Instagram
							</span>
						</a>
					</li>
				{% endif %}
				{% if site.authors.royvn.linkedin %}
					<li class="nav-item">
						<a href="{{ site.authors.royvn.linkedin }}" target="_blank" rel="noopener" class="nav-permalink">
							<span>
								Linkedin
							</span>
						</a>
					</li>
				{% endif %}
				{% if site.authors.royvn.twitter %}
					<li class="nav-item">
						<a href="{{ site.authors.royvn.twitter }}" target="_blank" rel="noopener" class="nav-permalink">
							<span>
								Twitter
							</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>

	</div>


</nav>