<nav class="site-navigation">

	<div class="grid">

		<div class="widget">
			<span class="widget-title">
				Menu
			</span>
			<ul class="nav menu">
				{% for item in site.data.navigation %}
					<li class="nav-item">
						<a href="{{ item.permalink }}" class="nav-permalink{% if page.url contains item.permalink and item.permalink != '/' or page.url == '/' %} nav-permalink--active{% endif %}">
							<span>
								{{ item.title }}
							</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="widget">
			<span class="widget-title">
				Social
			</span>
			<ul class="nav social">
				<li class="nav-item">
					<a href="{{ site.authors.royvn.github }}" class="nav-permalink">
						<span>
							Github
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ site.authors.royvn.twitter }}" class="nav-permalink">
						<span>
							Instagram
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ site.authors.royvn.linkedin }}" class="nav-permalink">
						<span>
							Linkedin
						</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ site.authors.royvn.twitter }}" class="nav-permalink">
						<span>
							Twitter
						</span>
					</a>
				</li>
			</ul>
		</div>

	</div>


</nav>