@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../styles/mixins/mixins";
@import "../styles/settings";

.intro {
  position: relative;
  margin-top: 0;
  background: $yellow;
  color: $white;
  padding: rem(48) 0;
}

.opacity {
  opacity: 0.48;
}

.content {
  position: relative;
  z-index: 1;
  margin-bottom: rem(48);
  @include media-breakpoint-up(md) {
    margin-bottom: rem(0);
  }
}

.image {
  position: relative;
  @include media-breakpoint-up(md) {
    left: -(rem(106));
  }
}

.buttons {
  margin-top: rem(32);
}

.hand {
  display: inline-flex;
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-left: rem(8);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

