@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../styles/mixins/mixins";
@import "../styles/settings";

.opacity {
  opacity: 0.48;
}

.content {
  margin-top: rem(16);
  @include media-breakpoint-up(md){
    margin-top: 0;
    padding-left: rem(40);
  }
}

.label {
  position: relative;
  font-family: $headings-font-family;
  font-weight: 600;
  font-size: rem(12);
  line-height: rem(20);
  text-transform: uppercase;
  letter-spacing: rem(2);
  margin-bottom: rem(16);
  &:before {
    content: '';
    display: block;
    width: rem(72);
    height: rem(2);
    background-color: $white;
    position: absolute;
    top: 50%;
    left: -(rem(88));
    transform: translateY(-50%);
  }

}

.title {
  font-size: rem(40);
  line-height: rem(48);
  @include media-breakpoint-up(md){
    font-size: rem(56);
    line-height: rem(64);
  }
  margin-bottom: rem(16);
  > span {
    display: block;
  }
}

.paragraph {
  font-size: rem(20);
  line-height: rem(28);  
  margin-bottom: rem(32);
}

.hand {
  display: inline-flex;
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-left: rem(8);
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}