@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../styles/mixins/mixins";
@import "../styles/settings";

.tab-bar {
	position: sticky;
	z-index: $zindex-fixed;
	right: 0;
	bottom: 0;
	left: 0;
  background-color: rgba(255,255,255,0.88);
  backdrop-filter: blur(8px);
	color: $black;
	display: flex;
	flex-wrap: wrap;
  width: 100%;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.08);
	@include media-breakpoint-up(md) {
		display: none;
	}
	.nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap; 
		font-size: rem(16);
		line-height: rem(24);
		font-weight: 400;
		width: 100%;
	}	
	.nav-item {
    flex: 1 0 auto;
    max-width: 25%;
		text-align: center;
	}
	.nav-link {
		display: block;
		position: relative;
		color: inherit;
		font-family: $headings-font-family;
		font-weight: 500;
		opacity: 0.72;
		padding: rem(8) rem(8);
		&:hover, 
		&:focus, 
		&:active {
			text-decoration: none;
      opacity: 1;
		}
		&--active {
			opacity: 1;
      font-weight: 700;
      color: $primary;
    }
    svg {
      display: block;
      margin: 0 auto;
      fill: currentColor;
    }
  }
  .nav-title {
    display: block;
		font-size: rem(12);
    line-height: rem(16);
    text-align: center;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}