---
layout: default
---

<article>	
		<header class="page-header">
			<div class="grid">
				{% if page.title %}
					<h1 class="page-header__title" itemprop="name headline">
						{{ page.title }}
					</h1>
				{% endif %}
				{% if page.subtitle %}
					<h2 class="page-header__subtitle">
						{{ page.subtitle }}
					</h2>
				{% endif %}
			</div>
		</header>
		<div class="page-content content" itemprop="articleBody">
			{{ content }}                    
		</div>
		<aside class="post-aside">
			{% assign author = site.authors[page.author] %}
			{% if author %}
				<div class="post-author">
					{% if author.image %}
						<img src="{{ author.image }}" alt="{{ author.name }}" class="post-author-image img-fluid">
					{% endif %}
					<p class="post-author__label">
						Geschreven door 
					</p>
					{% if author.name %}
						<p class="post-author__name" itemprop="author" itemscope itemtype="http://schema.org/Person">
							<span itemprop="name">{{ author.name }}</span>
						</p>
					{% endif %}
				</div>
			{% endif %}
			{% if page.tags %}
				<p class="">
					Getagd in 
				</p>
				<div class="tags">
					{% for tag in page.tags %}
						<a href="/tags#{{ tag }}" class="tag">
							{{ tag }}
						</a>
					{% endfor %}
				</div>
			{% endif %}
			{% include ads.html %}					
		</aside>
</article>
