---
layout: default
---


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">            
		<a href="/blog" class="back">Terug naar overzicht</a>
		<h1 class="post-title" itemprop="name headline">
			{{ page.title | escape }}
		</h1>
		<p class="post-meta">
			Geplaatst op 
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"> 
				{{ page.date | date: "%-d %B %Y" }}
			</time>
			{% if page.categories %} 
			in {% for category in page.categories %}{{ category | downcase }}{% if forloop.last %}.{% else %}, {% endif %}{% endfor %}
			{% endif %}
		</p>
	</header>
	{% if page.image %}
		<div class="post-image">
			<img src="{{ page.image }}" alt="{{ page.title | escape }}">
		</div>
	{% endif %}
	<div class="post-content" itemprop="articleBody">
		{{ content }}                    
	</div>
	{% if page.comments %}
		<div class="post-comments">
		</div>
	{% endif %}
	<footer class="post-footer">
		{% if page.tags %}
			<p class="">
				Getagd in 
			</p>
			<div class="tags">
				{% for tag in page.tags %}
					<a href="/tags#{{ tag }}" class="tag">
						{{ tag }}
					</a>
				{% endfor %}
			</div>
		{% endif %}
	</footer>
	<nav class="post-navigation">
		{% if page.next.url %}
			<a href="{{ page.next.url }}" class="related-navigation related-navigation--next">
				<div class="related-navigation__subtitle">Volgend artikel</div>
				{% if page.next.title %}
				<span class="related-navigation__title">
					{{ page.next.title }}
				</span>
				{{ page.next.image }}
				{% endif %}
			</a>      
		{% endif %}   
		{% if page.previous.url %}
		<a href="{{ page.previous.url }}" class="related-navigation related-navigation--previous">
			<div class="related-navigation__subtitle">Vorig artikel</div>
			{% if page.previous.title %}
			<span class="related-navigation__title">
				{{ page.previous.title }}
			</span>
			{{ page.previous.image }}
			{% endif %}
		</a>
		{% endif %}
	</nav>
	<aside class="post-aside">
	
			<div class="post-author">
				{% assign author = site.authors[page.author] %}
				{% if author.image %}
				<img src="{{ author.image }}" alt="{{ author.name }}" class="post-author-image">
				{% endif %}
				<p class="">
					Geschreven door 
					{% if author.name %}
					<span itemprop="author" itemscope itemtype="http://schema.org/Person">
						<span itemprop="name">{{ author.name }}</span>
					</span>
					{% endif %}
				</p>
			</div>
	
			{% include ads.html %}
			
			<ul>
				<li>
					<a href="{{ author.web }}" target="_blank" rel="noopener">
						Web
					</a>
				</li>
				<li>
					<a href="https://twitter.com/{{ author.twitter }}" target="_blank" rel="noopener">
						Twitter
					</a>
				</li>
				<li>
					<a href="https://github.com/{{ author.github }}" target="_blank" rel="noopener">
							github
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/{{ author.instagram }}" target="_blank" rel="noopener">
							instagram
					</a>
				</li>
			</ul>
	</aside>
</article>