---
layout: default
---

<article class="project">
  <header class="project-header" style="background-color: {{ page.theme_color }}; color: {{ page.theme_text_color }}">
    <div class="grid">
      <div class="row">
        <div class="col-lg-8 ml-auto mr-auto">
          <h2 class="project__subtitle">
            {{ page.client }}
          </h2>
          <h1 class="project__title">
            {{ page.title }}
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus hic ut dolorem dolor expedita totam reprehenderit nulla, laborum enim id temporibus! Praesentium laborum dolorem nostrum quasi sequi velit ullam recusandae.</p>
        </div>
      </div>
    </div>
  </header>
  <div class="grid">
    <img src="{{ page.image }}" alt="{{ page.title }}" class="project__image">
  </div>
  <div class="project-content content">
    {{ content }}
  </div>
</article>