.search .site-main, 
.archive .site-main, 
.blog .site-main {
    @include grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 1.5rem;
    // margin-top: 1.5rem;
    margin-bottom: 3rem;
    // @include media-breakpoint-up(lg) {
        // margin-top: 0rem;
    // }
    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }    
    .hentry:first-of-type {
        @include media-breakpoint-up(lg) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    .page-header {
        @include media-breakpoint-up(md) {
            grid-column-start: 1;      
            grid-column-end: 3;      
        }
        @include media-breakpoint-up(lg) {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        .page-title {
            margin-bottom: 0;
        }
    }
}