.headline-label	{
	font-size: 0.875rem;
	line-height: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: $headings-font-family;
	opacity: 0.48;
}

.headline-subtitle {
	font-size: 0.75rem;
	line-height: 1.25rem;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	opacity: 0.64;
}

.headline-title {
	font-size: 2.5rem;
	line-height: 1.25;
	@include media-breakpoint-up(lg) {
		font-size: 2.75rem;
	}
	margin-bottom: 1.5rem;
}

.headline-paragraph {
	font-size: 1.125rem;
	line-height: 2rem;
	margin-bottom: 1.5rem;
}