.page-header {
	margin: 1.5rem 0 3rem 0;
	@include media-breakpoint-up(md) {
		margin: 4.5rem 0 6rem 0;
	}
}

.page-header__title {
	padding-left: 2rem;
	font-size: 0.75rem;
	line-height: 1.25rem;
	text-transform: uppercase;
	position: relative;
	margin: 0;
	&:before {
		content: '';
		display: block;
		width: 1.5rem;
		height: 2px;
		background-color: $black;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -1px;
	}
}

.page-header__subtitle {
	margin-top: 1.5rem;
	@include media-breakpoint-up(md) {
		padding-left: 2rem;
    font-size: 2rem;
    line-height: 3rem;
	}
	margin-bottom: 0;
  max-width: 40rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.page-content {
	margin: 3rem 0;
	@include media-breakpoint-up(md) {
		margin: 6rem 0;
	}
	&.content {
		> *:not(.section) {
      @include grid;
      max-width: 40rem;
		}		
	}
}