.site-header {
	position: relative;
	transition: all .24s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	background-color: transparent;
	color: inherit;
	width: 100%;
	padding: 1.5rem 0;
	&--absolute {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: ($zindex-fixed)+2;
	}
	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: ($zindex-fixed)+2;
	}
	#hamburger span span {
		background-color: $black;
	}
	&--light {
		background-color: transparent;
		color: $white;
		#hamburger span span {
			background-color: $white;
		}
		#magnifying-glass {
			svg {
				fill: $white;
			}
		}
	}
	.page--home & {
		color: $white;
		#hamburger span span {
			background-color: $white;
		}
		#magnifying-glass {
			svg {
				fill: $white;
			}
		}
		&--toggled {
			// backdrop-filter: blur(8px);
			// background-color: rgba(255,255,255,0.88);
			color: $black;
			// box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.16);
			#hamburger span span {
				background-color: $black;
			}
			#magnifying-glass svg {
				fill: $black;
			}
		}
	}
	.grid {
		display: flex;
		align-items: center;
		justify-content: space-between;
		> div:last-child {
			display: flex;
		}
	}
}

.site-branding {
	display: block;
	color: inherit;
}

.site-title {
	position: relative;
	display: block;
	font-size: 1.25rem;
	line-height: 3rem;
	font-family: $headings-font-family;
	color: inherit;
	font-weight: 600;
	margin: 0;
	white-space: nowrap;
	color: inherit;
	&:hover, 
	&:focus, 
	&:active {
		text-decoration: none;
		color: $blue;
	}
}

.site-description {
	display: block;
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
	margin: 0;
	a {
		color: inherit;
		&:hover, 
		&:focus, 
		&:active {
			text-decoration: none;
		}
	}
}