.site-navigation {
	transform: translateY(-100%);
	> .grid {
		display: flex;
		flex-wrap: wrap;
	}
	z-index: ($zindex-fixed)+1;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	padding-top: 6rem;
	padding-bottom: 6rem;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	max-height: 100vh;
	overflow: auto;
	transition: all .24s cubic-bezier(0.445, 0.05, 0.55, 0.95);
	.nav.menu {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 400;
		li {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.nav.social {
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 500;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		li {
			@include make-col(6);			
		}
	}
	.widget {
		@include make-col(12);
		margin-bottom: 3rem;
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
			@include make-col(4);
		}
	}
	.widget:first-child {
		margin-left: auto;
	}
	.widget-title {
		margin-bottom: 1rem;
		opacity: 0.64;
	}
	.nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}	
	.nav-item {
		margin-bottom: 1rem;
		overflow: hidden;
		transform: translateY(100%);
		visibility: hidden;
		opacity: 0;
		@for $i from 0 through 10 {
			&:nth-child(#{$i + 1}) {
				transition-delay: 0.08s * $i;
			}
		}
	}
	.nav-permalink {
		position: relative;
		display: block;
		color: inherit;
		font-family: $headings-font-family;
		&:after {

		}
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
		&:hover, &:focus {
			color: $primary;
		}
		&:active {
			color: darken($primary, 8%);
		}
		&--active {
			font-weight: 700;
		}
	}
}

#hamburger {
	cursor: pointer;
	position: relative;
	background-color: $black;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	border: none;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	transition: transform .24s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	display: flex;
	&:hover, &:active, &:focus {
		outline: none;
	}
	> span {
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -0.75rem;
		margin-top: -0.75rem;
		span {
			display: block;
			width: 1.5rem;
			height: 2px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-color: $white;
			transition: all .24s cubic-bezier(0.55, 0.085, 0.68, 0.53);
			transition-property: transform, width, height, top, left, margin-top;
			&:first-child {
				margin-top: -6px;
			}
			&:last-child {
				margin-top: 6px;
			}
		}
	}
}

body.site-navigation-open {
	overflow: hidden;
	.site-header {
		color: $black;
		// #hamburger span span {
		// 	background-color: $black;
		// }
	}
	.site-navigation {
		transform: translateY(0%);
		.nav-item {
			visibility: visible;
			opacity: 1;
			transition-property: all;
			transform: translateY(0);
			transition-duration: 0.48s;
			transition-timing-function: ease;
		}
	}
	.site-mask {
		visibility: visible;
		opacity: 0.8;
	}
	#hamburger {
		transform: rotate(135deg);
		span span {
			// background-color: $black;
			&:first-child {
				margin-top: 0;
				width: 0;
			}
			&:last-child {
				margin-top: 0;
				transform: translateX(-50%) translateY(-50%) rotate(90deg);
			}
		}
	}
}