.site-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black;
    z-index: ($zindex-fixed)-2;
    visibility: hidden;
    opacity: 0;
    transition: all .48s ease-in-out;
}

body.navigation-open, body.search-open {
    .site-overlay {
        visibility: visible;
        opacity: 0.72;
    }
}