.tiles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    > .tile:first-child {
        @include media-breakpoint-up(lg) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    > .tile:last-child {
        @include media-breakpoint-up(lg) {
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }
}

.tile {
    position: relative;
	border-radius: 0.5rem;
    display: flex;
    align-items: stretch;    
    flex-direction: column;
    background-color: $white;
    width: 100%;
    border: 1px solid lighten($black, 80%);
    color: inherit;
    transition: all 0.16s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
    &:hover, &:focus {
        box-shadow: 0px 8px 24px 8px lighten($black, 88%);
    }
    .tile__image {
        img {
            width: 100%;
            height: auto;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }
    }
    .tile__content {
        padding: 1.5rem;
        > :last-child:not(.tags) {
            margin-bottom: 0;
        }
        a {
            color: inherit;
            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
    .tile__footer {
        padding: 0rem 1.5rem 1.5rem 1.5rem;
        margin-top: auto;
    }
    .tile__author {
        display: grid;
        grid-template-columns: 24px 1fr;
        grid-gap: .5rem;
        align-items: center;
        color: inherit;
        margin-bottom: 1rem;
        &:hover, &:focus {
            text-decoration: none;
        }
        img {
            border-radius: 50%;
        }
        
    }
    .tile__title {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .btn {
        &:hover, &:focus, &:active {
            transform: none;
        }
    }
}