$body-bg: #fafafa;
$white: #ffffff;

$black: #161616;
$gray-1: lighten($black, 72%);
$gray-2: lighten($black, 64%);
$gray-3: lighten($black, 56%);
$gray-4: lighten($black, 48%);
$gray-5: lighten($black, 32%);
$gray-6: lighten($black, 24%);
$gray-7: lighten($black, 16%);
$gray-8: lighten($black, 8%);
$gray-9: lighten($black, 0%);

$blue: blue;

$font-family: 'Asap', sans-serif;

$headings-font-family: 'Poppins', sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.2;