// Self made mixins
@import 'mixins/mixins';

// Self made settings
@import 'settings';

//
body {
	margin: 0;
	font-family: $default-font-family;
	font-size: $default-font-size;
	line-height: 1.5;
  background-color: lighten($body-background, 4%);
  color: $body-color;
}