@use 'mixins';
@use 'settings';

//
body {
	font-family: settings.$default-font-family;
	font-size: settings.$default-font-size;
	line-height: 1.5;
  background-color: lighten(settings.$body-background, 4%);
  color: settings.$body-color;
	margin: 0;
}