@use 'mixins';
@use 'settings';

.button {
	position: relative;
	background-color: transparent;
	color: inherit;
	border: 1px solid transparent;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-family: settings.$headings-font-family;
	font-size: mixins.rem(14);
	line-height: mixins.rem(24);
	font-weight: 600;
	padding: mixins.rem(7) mixins.rem(16);
	margin: 0;
	border-radius: mixins.rem(4);
	transition: all .32s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	overflow: hidden;
	&:hover, 
	&:focus, 
	&:active {
		text-decoration: none;
	}
	&:hover, 
	&:focus {
		color: settings.$black;
	}
	&.button--block {
		display: block;
		text-align: center;
	}
	&.button--sm {
		padding: mixins.rem(5) mixins.rem(8);
		font-size: mixins.rem(12);
		line-height: mixins.rem(20);
	}
	&.button--md {
		font-size: mixins.rem(14);
		line-height: mixins.rem(24);
		padding: mixins.rem(7) mixins.rem(16);
	}
	&.button--lg {
		padding: mixins.rem(11) mixins.rem(24);
		font-size: mixins.rem(14);
		line-height: mixins.rem(24);
	}
	&.button--light {
		background-color: settings.$white;
		border-color: settings.$white;
		color: settings.$primary;
		&:hover {
			color: darken(settings.$primary, 16%);
		}
	}
	&.button--primary {
		background-color: settings.$primary;
		border-color: settings.$primary;
		color: settings.$black;
		&:hover {
			background-color: darken(settings.$primary, 16%);
			border-color: darken(settings.$primary, 16%);
			color: settings.$black;
		}
	}
	&.button--secondary {
		background-color: settings.$secondary;
		border-color: settings.$secondary;
		color: settings.$white;
		&:hover {
			background-color: darken(settings.$secondary, 16%);
			border-color: darken(settings.$secondary, 16%);
			color: settings.$white;
		}
	}
	// &.button--effect {
		// &:hover {
		// 	&:before {
		// 		transform: translateX(0%);
		// 	}
		// }
	// }
	&.button--outline-primary {
		border-color: settings.$primary;
		color: settings.$primary;
		&:hover, 
		&:focus {
			background-color: settings.$primary;
			color: settings.$white;
		}
	}
	&.button--disabled {
		cursor: not-allowed;
		opacity: 0.48;
	}
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -(mixins.rem(16));
  .button {
    margin-right: mixins.rem(16);
    margin-bottom: mixins.rem(16);
  }
}