@import 'mixins/mixins';
@import 'settings';

h1, .h1, 
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  margin-top: 0;
  margin-bottom: rem(16);
  &:last-child {
    margin-bottom: 0;
  }
}

h1, 
.h1 {
  font-size: rem(40);
  line-height: rem(48);
  @include media-breakpoint-up($breakpoint-md) {
    font-size: rem(64);
    line-height: rem(72);
  }
}

h2, 
.h2 {
  font-size: rem(32);
  line-height: rem(40);
  @include media-breakpoint-up($breakpoint-md) {
    font-size: rem(40);
    line-height: rem(48);
  }
}

h3, 
.h3 {
  font-size: rem(28);
  line-height: rem(36);
  @include media-breakpoint-up($breakpoint-md) {
    font-size: rem(40);
    line-height: rem(48);
  }
}

h4, 
.h4 {
  font-size: rem(18);
  line-height: rem(26);
  @include media-breakpoint-up($breakpoint-md) {
    font-size: rem(20);
    line-height: rem(28);
  }
}

h5, 
.h5 {
  font-size: rem(14);
  line-height: rem(22);
  @include media-breakpoint-up($breakpoint-md) {
    font-size: rem(16);
    line-height: rem(24);
  }
}

h6, 
.h6 {
  font-size: rem(12);
  line-height: rem(20);
  @include media-breakpoint-up($breakpoint-md) {
    font-size: rem(14);
    line-height: rem(22);
  }
}

.subtitle {
  font-size: rem(12);
  line-height: rem(20);
  letter-spacing: rem(2);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: rem(8);
  &--primary {
    color: $primary;
  }
}