// Self made mixins
@import 'mixins/mixins';

// Self made settings
@import 'settings';

// 
a {
	color: $primary;
	text-decoration: none;
	&:hover, 
	&:focus,
	&:active {
		color: darken($primary, 8%);
	}
}