@use 'mixins';
@use 'settings';

.page-spacer {
	padding-left: mixins.rem(24);
	padding-right: mixins.rem(24);
	@include mixins.media-breakpoint-up(settings.$breakpoint-md) {
		padding-left: mixins.rem(48);
		padding-right: mixins.rem(48);
	}
}