@use 'mixins';
@use 'settings';

.rte {
  &--sm {
    font-size: mixins.rem(12);
    line-height: mixins.rem(18);
  }
  &--md {
    font-size: mixins.rem(14);
    line-height: mixins.rem(20);
  }
  &--lg {
    font-size: mixins.rem(24);
    line-height: mixins.rem(32);
    @include mixins.media-breakpoint-up(settings.$breakpoint-md) {
      font-size: mixins.rem(32);
      line-height: mixins.rem(40);
    }
  }
  *:last-child {
    margin-bottom: 0;
  }
}