@import 'mixins/mixins';
@import 'settings';

.rte {
  &--sm {
    font-size: rem(12);
    line-height: rem(18);
  }
  &--md {
    font-size: rem(14);
    line-height: rem(20);
  }
  &--lg {
    font-size: rem(24);
    line-height: rem(32);
    @include media-breakpoint-up($breakpoint-md) {
      font-size: rem(32);
      line-height: rem(40);
    }
  }
  *:last-child {
    margin-bottom: 0;
  }
}